
.add-item-title{
    color: #ED1B24;
    font-weight: bold;
}

.add-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.form-group{
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-left: 10px;
}

.submit-btn{
    background-color: #ED1B24;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: all 0.3s;
}
.submit-btn:active{
    transform: scale(.98);
}

@media  only screen and (max-width:768px) {
    .add-form{
        grid-template-columns: 1fr;
    }
   
}
